<footer class="site-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-col">
        <h4>Решение</h4>
        <a href="{% url 'solution' %}">Решение под ключ</a>
        <a href="{% url 'solution' %}#controllers">Контроллеры и сенсоры</a>
        <a href="{% url 'solution' %}#safety">Безопасность</a>
        <a href="{% url 'solution' %}#support">Сопровождение</a>
      </div>
      <div class="footer-col">
        <h4>Техника</h4>
        <a href="{% url 'product' %}#customer-fleet">Техника заказчика</a>
        <a href="{% url 'product' %}#forklifts">Вилочные погрузчики</a>
        <a href="{% url 'product' %}#reachtrucks">Ричтраки</a>
        <a href="{% url 'product' %}#stackers">Штабелёры</a>
        <a href="{% url 'product' %}#pallet-trucks">AGV тележки</a>
      </div>
      <div class="footer-col">
        <h4>Материалы</h4>
        <a href="{% url 'cases' %}">Кейсы</a>
        <a href="{% url 'blog' %}">Блог / Экспертиза</a>
        <a href="{% url 'materials' %}">Презентации и материалы</a>
      </div>
      <div class="footer-col">
        <h4>Контакты</h4>
        <a href="{% url 'contacts' %}">Контакты</a>
        <a href="{% url 'partners' %}">Партнёрам</a>
        <a href="{% url 'privacy' %}">Политика конфиденциальности</a>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2026 Акселот Беспилотные Решения</span>
      <span><a href="{% url 'consent' %}">Согласие на обработку персональных данных</a></span>
    </div>
  </div>
</footer>
