<section class="pros-cons-section" {% if section_id %}id="{{ section_id }}"{% endif %}>
  <div class="container">
    <div class="section-title-row">
      <h2>Какие роботы бывают?</h2>
      <div class="section-title-meta">
        Сравнение вариантов: покупка новых роботов и дооснащение существующей техники.
      </div>
    </div>
    <table class="pros-cons-single-table">
      <thead>
        <tr>
          <th></th>
          <th class="th-col th-col--1">Китайские беспилотные роботы</th>
          <th class="th-col th-col--2">Роботы с российской беспилотностью</th>
          <th class="th-col th-col--2">Дооснащение существующей техники беспилотностью</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="th-row th-row--plus">Плюсы</th>
          <td>
            <ul>
              <li>Некоторые производители имеют сервисную поддержку в России</li>
              <li>Есть кейсы внедрения и работы роботов в России, 
                хотя зачастую неутешительные. </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Гибкость и поддержка.
                Имеют быструю и гибкую сервисную поддержку 
                под любые нестандарстные процессы и нюансы работы.
              </li>
              <li>Вы не привязаны к одному вендору. 
                Роботы могут работать с любой системой управления складом
                WMS/RMS. 
              </li>
              <li>Предсказуемость. Вы точно знаете
                что робот не превратиться в кирпич.
                А будет работать по вашим процессам.
              </li>
              <li>Цена. Дешевле чем китайские роботы.</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Самая низкая цена, не нужно покупать новую технику</li>
              <li>Использование уже знакомого парка и процессов</li>
              <li>Поэтапное внедрение — можно начать с одной единицы
                , а затем быстро масштабировать</li>
                <li>Высокая гибкость решения, можем 
                  реализовать любой сценарий работы</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="th-row th-row--minus">Минусы</th>
          <td>
            <ul>
              <li>Самый большой минус, это отсутствие сервисной поддержки.
                После внедрения, поменять процессы уже не получится. 
                И робот будет бесполезен.</li>
              <li>Привязка к одному вендору. Собственные системы управления RMS, не совместимы с другими</li>
              <li>Высокая цена на роботов, по сравнению с российскими</li>
              <li>Не приспособлены для работы в российских реалиях</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Российская беспилотность дешевле китайской, 
                такой робот будет дешевле чем китайский,
                но дороже чем дооснащение существующей техники</li>
                <li>Можем предоставить не всех производителей</li>
                          </ul>
          </td>
          <td>
            <ul>
              <li>Нужно исследование пригодности и состояния техники</li>
              <li>Срок внедрения может быть 2–3 месяца на единицу</li>
              <li>Не вся техника подходит для дооснащения</li>
              <li>Изношенность техники может давать сбои в работе</li>
              <li>Стоимость дооснащения может расти, и иногда есть смысл рассмотреть
                покупку новой техники
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
